@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

/* RESET */

*, ::after, ::before{
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: #f9f9f9;
}

h1 {
  font-size: 30px;
}

h2 {
  font-weight: 300;
  font-size: 40px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 16px;
}

a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}

a:hover {
  color: #fff;
  font-weight: bolder;
  text-decoration: none;
  transition: 0.5 ease;
}

ul {
  list-style: none;
}

/* HEADER */

header {
  width: 100vw;
  height: 10vh;
  background: #3A5E14;
}

#header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 100%;
  margin: auto;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.menu > li {
  padding: 5px 20px;
}

/* MAIN */

main {
    width: 100vw;
    background-color: #FCE8DD;
}

#banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 80vh;
    background-image: url(./img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.40)
  }
  
  .banner-content > h1 {
    font-family: 'Dancing Script', 'Lato', sans-serif;
    font-size: 65px;
  }

#resumo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    height: 80vh;
    margin: auto;
    background-color: #FCE8DD;
}

.resumo-imagem > img {
    width: 40%;
    height: 50%;
    object-fit: contain;
}

.resumo-imagem > img {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 5px;
    object-fit: cover;
}

.resumo-content {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
    color: #3a3a3a;
}
  

/* FOOTER */

footer {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 40vh;
  color: #fff;
  background: #3A5E14;
}

#footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 50%;
  margin: auto;
}

.creditos {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 35%;
  height: 80%;
}

.menu-footer ul, li {
  display: block;

}

/* Media */
